<div class="centerblock">


<div class="contactsheader">
  <p>There are <span>5</span> contacts</p>
</div>

<ul>
  <% @contacts.each do |contact|%>
  <div class="contactblock">
  <li><%= contact.full_name %> (<%= contact.email %>)
    <br>
    <span><a href="#">edit</a> | <a href="#">delete</a></span></li>
    <% end %>
  </div>

</ul>
</div>
