<div class="centerblock">


<div class="contactsheader">
  <p>There are <span><%= Contact.count %></span> contacts</p>
</div>

<ul>
  <% @contacts.each do |contact|%>
  <div class="contactblock">
  <li><a href="/contacts/<%=contact.id%>"><%= contact.full_name %> (<%= contact.email %>)</a>
    <br>
    <span><a href="#">edit</a> | <a href="#">delete</a></span></li>
    <% end %>
  </div>

</ul>
</div>
