<div >


<br>
<ul class="showcontactpage">
    <li>
      <%= @contact.full_name %>
      <br>
      <%= @contact.email %>
      <br>
      <%= @contact.note %>
    </li>
</ul>

<br>
<hr>

<form action='/contacts/<%= @contact.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Delete Contact'>
</form>

</div>
